---

import Title from "@/components/Title.astro";
import InstagramIcon from "@/icons/InstagramIcon.astro";
---

<section>
    <div
        class="max-w-[1140px] phone:w-full phone:px-2 mx-auto mb-12 mt-12 desktop:mb-14 desktop:mt-24 text-color01 flex gap-3 justify-center items-center flex-col"
    >
        <Title title="Compartimos este día junto a ti" />
        <span
            class="font-rubik desktop:text-xl text-center font-extralight text-gray-400"
        >
            Comparte tus fotos y videos de este hermoso día
        </span>
        <a
            href="https://photos.google.com/share/AF1QipNCU9P5KmYExeN-ahValdbcgmC84yarH1bcPnVcqHMO91HvKWyT5uHoZsRS0ULC5w?key=bDB0S2NBamlEQkFYaEVnWGhsazlQWUlRUHdQV3FR"
            target="_blank"
            class="relative inline-block"
        >
            <img 
                src="/qrboda.svg" 
                alt="QR para compartir fotos" 
                class="w-40 phone:w-56 desktop:w-48 mt-6 mb-6 shadow-lg rounded-lg"
            />
            <img 
                src="/click.png" 
                alt="Haz click" 
                class="absolute bottom-2 right-2 w-6 opacity-80 hover:opacity-100 transition"
            />
        </a>
    </div>
</section>

<style>
 
    a:hover {
        background-color:  rgba(255, 255, 255, 0.73);
        @apply animate-pulsing;
    }
</style>
